@model CocoApi.Models.support

@{
    ViewBag.Title = "Details";
}
<div class="container body-content">
    <h2>Details</h2>

    <div>
        <h4>support</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.support_details)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.support_details)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.add_date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.add_date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.add_id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.add_id)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.support_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>