@model CocoApi.Models.news

@{
    ViewBag.Title = "Delete";
}
<div class="container body-content">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>news</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.news_topic)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.news_topic)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.news_details)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.news_details)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.add_date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.add_date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.add_id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.add_id)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
    </div>